html, body {
  background: url(img/Nachthimmel_1920x1356.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}

h1 {
  color: white
}

h3 {
  color: white;
  font-size: 12px;
  text-align: center;
}

p {
  color: white;
}

#map {
  width: 100%;
  height: 60%;
  background: grey;

}

#panel {
  width: 100%;
  height: 400px;
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(6,12,34,0.7);
    z-index:9999;
    display:none;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  max-width: 100% !important;
  border: 0px !important;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:white;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.page-header {
  margin: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.main_page_headlines {
  color: white;
  font-size: 25px;
  /*font-weight: bold;*/
}

#map-modal-button {
  background-color: #00D1FF;
  color: white;
  padding: 10px 24px 10px 24px;
  transition-duration: 0.3s;
  margin-top: 1em;
  width: 13em;
  height: 3em;
  font-size: 17px;

}

#map-modal-button:hover {
  background-color: white;
  color: #00D1FF;
}

#webgl {
  width: 100%;
}

#canvas_uv {
  border: 4px solid white;
  width: 100%;
}

#canvas_image {
  width: 100%;
  border: 4px solid white;
}

.play {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play_button {
  width: 5%;
  height: auto;
}

#time_control {
  width: 70%;
  margin: 1%;
  overflow: hidden;
  background-color: white;
}

#time_count {
  font-size: 20px;
  margin-left: 12%;
}

 /* The Modal (background) */
.map-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,1); /* Black w/ opacity */
  background: url(img/Nachthimmel_1920x1356.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Modal Content/Box */
.map-modal-content {
  /*margin: 5% auto; /* 15% from the top and centered */
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  /*border: 1px solid white;*/
  width: 100%; /* Could be more or less, depending on screen size */
  height: 100%;
}

/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 40px !important;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
text-decoration: none;
cursor: pointer;
} 

.Teleskop {
  padding-top: 50px;
  width: 125px;
  height: auto;
}

.Teleskop:hover {
  filter: invert(100%) sepia(1%) saturate(6427%) hue-rotate(36deg) brightness(116%) contrast(100%);
  transition-duration:  0.3s;
}

#measure_button, #reset_button {
  background-color: #00D1FF;
  color: white;
  padding: 10px 24px 10px 24px;
  transition-duration: 0.3s;
  margin-top: 50px;
  font-size: 17px;
}

#measure_button:hover, #reset_button:hover {
  background-color: white;
  color: #00D1FF ;
}


.source_declination_image {
  width: 70%;
}

.elevation_limit {
  display: none;
}

#canvas_uv_map {
  width: 90%;
  height: auto;
  border: 4px solid white;
}

#canvas_image_map {
  width: 90%;
  height: auto;
  border: 4px solid white;
}

.image_map_text {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-left: 30px;
}

.Punktquelle_text {
  color: white;
  font-size: 20px;
  text-align: center !important;
}

.Punktquelle {
  width: 50%;
  height: auto;
  border: 4px solid white !important;

}

 /* The Modal (background) */
.info-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(6,12,34,0.7); /* Black w/ opacity */
    backdrop-filter: blur(20px);
}

/* Modal Content/Box */
.info-modal-content {
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  /*border: 1px solid #888;*/
  width: 90%; /* Could be more or less, depending on screen size */
  height: 80%;
}

.info {
  width: 25px;
  height: auto;
}

.info_left, .info_middle {
  width: 70%;
  height: auto;
  padding-top:30%;

}

.info_text {
  font-size: 150%;
  padding-top: 20%;
}


#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: green;
}